.page-links {
    display: flex;
    justify-content: center;
    .page-item:not(.active) {
        a {
            color: black;
        }
    }

    .active {
        .page-link {
            background-color: $color-green;
            color: white;
            font-weight: bold;
            border: solid 1px $color-green;
        }
    }
}
