.search-form {
    white-space: nowrap;
    padding-bottom: 20px;
    input {
        width: 80%;
    }

    button {
        width: 20%;
        background-color: $color-green;
        color: white;
        font-weight: bold;
        border: none;
    }

    input, button {
        height: 50px;
    }

    @media (max-width: $breakpoint-tablet) {
        white-space: initial;
        input, button {
            width: 100%;
        }

        input {
            margin-bottom: 10px;
        }
    }
}
